<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h3>Enter a new shelter:</h3>
  <input type='text' name='shelter[name]' value='Name'/><br/>
  <input type='text' name='shelter[address]' value='Address'/><br/>
  <input type='text' name='shelter[city]' value='City'/><br/>
  <input type='text' name='shelter[state]' value='State'/><br/>
  <input type='text' name='shelter[zip]' value='Zip'/><br/>
  <input type='submit' value='Create Shelter'/>
</form>
