<div class="pageheader">
<h1>Favorite Pets</h1>
<h3>Your place to find love</h3>
</div>
<div class="right-nav">
<%= link_to 'Remove All Favorites', "/favorites", :method => :delete %>
</div>
<div><% @favorites.each do |favorite| %>
<%= link_to "#{favorite.pet.name}", "/pets/#{favorite.pet.id}" %>
<%= link_to 'Remove', "/favorites/#{favorite.id}", :method => :delete %>
<br>
<%= image_tag("#{favorite.pet.image_path}", width: "200") %><br>
<% end %>
</div>
