<form action="/shelters/:id/pets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="pet[shelter_id]" value="<%= @shelter.id %>">
  <h3>Enter new pet's information:</h3>
  <input type='text' name='pet[name]' value='Name' required/><br/>
  <input type='text' name='pet[image_path]' value='Enter image URL' required/><br/>
  <input type='text' name='pet[approximate_age]' value='Approximate age' required/><br/>
  <input type='text' name='pet[description]' value='Description of pet' required/><br/>
  <input type='text' name='pet[sex]' value="Sex (Male or Female)" required/><br/>
  <input type='submit' value='Create Pet'/>
</form>
